body {
    background-color: #F9F4EC;
    background-image: url("/statics/images/body_bg.gif");
    background-position: center center;
    background-repeat: repeat-y;
    font-family: Helvetica,Arial,sans-serif;
    margin: 0;
}
#wrap {
    background-image: url("/statics/images/bg.png");
    background-repeat: repeat-x;
}
#center {
    background-image: url("/statics/images/banner.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 126px;
    padding-top: 5px;
    text-align: right;
}
#messages {
    color: #008800;
}
#toplist {
    background-image: url("/statics/images/sidebarBg.gif");
    background-repeat: no-repeat;
    float: right;
    margin: 0 0 0 30px;
    padding: 25px 10px 60px 26px;
    width: 215px;
}
#toplist ul {
    list-style: none outside none;
}
#toplist h3 {
    color: #47435C;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#link {
    background-image: url("/statics/images/tab_left.gif");
    background-repeat: no-repeat;
    height: 47px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2px;
    overflow: hidden;
    padding: 0;
    width: 875px;
}
.links li {
    display: inline;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 47px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.links {
    margin: 0 0 0 5px;
    overflow: hidden;
    padding: 0;
}
.left {
    margin-top: 5px;
    padding-top: 12px;
}
.links li:first-child a {
    background: url("/statics/images/home.gif") no-repeat scroll 37px 12px transparent;
    border-left: medium none transparent !important;
    text-indent: -9999px;
    width: 40px;
}
.links a {
	border-left: 1px solid #f4f4f4;
    color: #545278;
    display: block;
    float: left;
    font-family: Arial,"Lucida Grande",sans-serif;
    font-size: 12px;
    height: 26px;
    margin: 0 0 0 15px;
    padding: 15px 0 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.links li a {
    border-left: 1px solid #FFFFFF;
}
.links a:hover {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #999999;
}
#content {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-bottom: 67px;
    width: 890px;
}
.right {
}
.border {
    background-image: url("/statics/images/border.png");
    background-position: left center;
    background-repeat: repeat-y;
}
.right img {
    border: medium none;
    margin: 0;
    padding-top: 0;
}
.errorlist {
    color: #FF0000;
}
p, .current {
    color: #333333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.4em;
}
h1 {
    color: #47435C;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.2em;
}
h2 {
    color: #47435C;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.2em;
    text-shadow: 2px 2px 2px #D3D3D3;
}
a {
    color: #0F79A3;
    text-decoration: none;
}
a:hover {
	color: #0d4d67;
}
#content a:visited {
    color: #58410A;
}
#nameBlock {
    color: #FFFFFF;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 20px auto 0;
    width: 920px;
}
#logoRegistry {
    display: block;
    height: 45px;
}
#logoUW {
    display: block;
    height: 30px;
}
form.cmxform {
    color: #333333;
    font-size: 1.1em;
    width: 650px;
}
form.cmxform legend {
    padding-left: 0;
}
form.cmxform legend, form.cmxform label {
    color: #333333;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.4em;
    text-align: right;
}
form.cmxform fieldset {
    border: medium none;
}
form.cmxform fieldset fieldset {
    background: none repeat scroll 0 0 transparent;
}
form.cmxform fieldset li {
    padding: 5px 10px 7px;
}
form.cmxform fieldset li span {
    font-size: 10px;
    font-weight: normal;
    letter-spacing: normal;
    margin-left: 137px;
}
form.cmxform fieldset {
    margin-bottom: 10px;
}
form.cmxform legend {
    font-weight: bold;
    padding: 0 2px;
}
form.cmxform label {
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
}
form.cmxform fieldset ol {
    margin: 0;
    padding: 0;
}
form.cmxform fieldset li {
    list-style: none outside none;
    margin: 0;
    padding: 5px;
}
form.cmxform fieldset fieldset {
    border: medium none;
    margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
    font-weight: normal;
    padding: 0 0 5px;
}
form.cmxform fieldset fieldset label {
    display: block;
    width: auto;
}
form.cmxform em {
    color: #FF0000;
    font-style: normal;
    font-weight: bold;
    vertical-align: top;
}
form.cmxform label {
    width: 120px;
}
#upcoming-container {
    float: left;
    width: 550px;
}

#tweet-container {
    clear: both;
    float: left;
    width: 423px;
}

#content ul {
    padding: 0;
}
#content li {
    background: url("/statics/images/arrow.gif") no-repeat scroll 0 6px transparent;
    list-style: none;
    padding: 0 0 0 10px;
    margin-top: 10px;
}
#content .cmxform li {
    background: none;
    padding: 0;
}
#top-suggests-list tr {
    padding: 17px 0;
}
#top-suggests-list td {
    padding-left: 13px;
}
#top-suggests-list .votes {
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #E7E7E7;
    font-weight: bold;
    padding: 5px 14px 5px 5px;
    text-align: right;
    width: 86px;
    text-shadow: 2px 2px 1px #D3D3D3;
    color: #484848;
}
#top-suggets-container {
    float: right;
    width: 426px;
}
form.cmxform fieldset fieldset label {
    margin-left: 123px;
}
#service-list p {
    margin: 0;
    padding: 0 0 10px 9px;
}
.tile {
    background: url("/statics/images/tile.jpg") no-repeat scroll left top transparent;
    float: left;
    height: 256px;
    margin: 0 10px 0 0;
    padding: 20px 40px 0;
    position: relative;
    width: 209px;
}
.tile p {
    color: #484848;
    font-family: Arial;
    font-size: 12px;
    margin-top: 5px;
}
.tile a {
    background: url("/statics/images/more.gif") no-repeat scroll left top transparent;
    bottom: 25px;
    color: #484848;
    display: block;
    float: right;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    margin: 10px 0;
    padding: 7px 0 0 15px;
    position: absolute;
    right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: 62px;
}
.tile a:hover {
    color: #888888;
}
.tile h2 {
    margin: 0;
}
#tiles {
    margin: 27px auto;
    width: 897px;
}
#bottomHalf ul {
    padding: 0;
}
#bottomHalf li {
    background: url("/statics/images/arrow.gif") no-repeat scroll 0 4px transparent;
    list-style: none outside none;
    padding: 0 0 0 10px;
}
a {
    color: #0F79A3;
}
#bottomHalf li {
    font-size: 12px;
    margin: 0 0 6px;
}
#bottomHalf p {
    color: #484848;
    font-size: 12px;
}
#bottomRight {
    float: right;
    padding: 0 54px 0 0;
    width: 220px;
}
#bottomRight h2 {
    background: url("/statics/images/whatsnew.gif") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #DDDDDD;
    display: block;
    height: 33px;
    text-indent: -9999px;
}
#bottomLeft h2 {
    background: url("/statics/images/whatis.gif") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #DDDDDD;
    height: 33px;
    text-indent: -9999px;
}
#bottomLeft {
    float: left;
    padding: 0 0 0 53px;
    width: 571px;
}
#bottomHalf {
    background: url("/statics/images/slice.gif") repeat-x scroll 0 0 transparent;
    clear: both;
    height: 200px;
    margin: 0 auto;
    padding-top: 12px;
    width: 958px;
}
#search-container input {
    width: 304px;
    height: 22px;
    margin-left: 14px;
}
.resource {
    font-size: 13px;
    padding: 20px 0;
}
#suggestions_link {
    clear: both;
    margin: 20px 0 10px;
}
#service-list {
    clear: both;
    padding-top: 33px;
}
#search-container {
    display: block;
    border: 1px solid #ddd;
    float: left;
    padding: 20px 31px;
    -moz-border-radius: 5px;
	border-radius: 5px;
    -moz-box-shadow: 2px 2px 4px #ddd;
    -webkit-box-shadow:  2px 2px 4px #ddd;
	box-shadow:  2px 2px 4px #ddd;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
#footer p {
    margin: 7px 0;
}
#footer {
    background: url("/statics/images/slice.gif") repeat-x scroll 0 0 transparent;
    bottom: 0;
    clear: both;
    color: #777777;
    font-size: 10%;
    padding: 2px;
    position: fixed;
    text-align: center;
    width: 100%;
}
#uservoice_suggestions span {
    font-weight: bold;
    background: #fff;
    display: block;
    padding: 5px;
}
#uservoice_suggestions td {
    padding: 12px;
}
#uservoice_suggestions {
    -moz-border-radius: 7px 7px 7px 7px;
    border-radius: 7px;
    -moz-box-shadow: 2px 2px 6px #DDDDDD;
    -webkit-box-shadow: 2px 2px 6px #DDDDDD;
    box-shadow: 2px 2px 6px #DDDDDD;
    background: none repeat scroll 0 0 #F4F4F4;
    padding: 8px;
    width: 350px;
    border: 1px solid #FFFFFF;
}
#use-cases {
    clear:both;
}
#use-heading {
    padding-top:40px;
}
.spacer {
    float:left;
    width:50%;
}
