
.tile {
    background: url("/statics/images/tile.jpg") no-repeat scroll left top transparent;
    float: left;
    height: 256px;
    margin: 0 10px 0 0;
    padding: 20px 40px 0;
    position: relative;
    width: 209px;
}
.tile p {
    color: #484848;
    font-family: Arial;
    font-size: 12px;
    margin-top: 5px;
}
.tile a {
    background: url("/statics/images/more.gif") no-repeat scroll left top transparent;
    bottom: 25px;
    color: #484848;
    display: block;
    float: right;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    height: 21px;
    margin: 10px 0;
    padding: 7px 0 0 15px;
    position: absolute;
    right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    width: 62px;
}
.tile a:hover {
    color: #888888;
}
.tile h2 {
    margin: 0;
}
#tiles {
    width: 897px;
    margin: 27px auto;
}
#bottomHalf ul {
    padding: 0;
}
#bottomHalf li {
    background: url("/statics/images/arrow.gif") no-repeat scroll 0 4px transparent;
    list-style: none outside none;
    padding: 0 0 0 10px;
}
#wrap a {
    color: #0F79A3;
}
#bottomHalf li {
    font-size: 12px;
}
#bottomHalf p {
    color: #484848;
    font-size: 12px;
}
#bottomRight {
    float: right;
    padding: 0 54px 0 0;
    width: 220px;
}
#bottomRight h2 {
    background: url("/statics/images/whatsnew.gif") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #DDDDDD;
    display: block;
    height: 33px;
    text-indent: -9999px;
}
#bottomLeft h2 {
    background: url("/statics/images/whatis.gif") no-repeat scroll 0 0 transparent;
    border-bottom: 1px solid #DDDDDD;
    height: 33px;
    text-indent: -9999px;
}
#bottomLeft {
    float: left;
    padding: 0 0 0 53px;
    width: 571px;
}
#bottomHalf {
    background: url("/statics/images/slice.gif") repeat-x scroll 0 0 transparent;
    clear: both;
    height: 200px;
    margin: 0 auto;
    padding-top: 12px;
    width: 958px;
}
#footer {
	clear: both;
	background: #eee;
	padding: 2px;
	border-top: 2px solid #ddd;
	text-align: center;
	color: #777;
	font-size: 10%;
}

