@charset "utf-8";
body {
	margin: 0px;
	background-color: #f9f4ec;
	background-image: url(body_bg.gif);
	background-repeat: repeat-y;
	background-position: center;
	font-family: Helvetica, Arial, sans-serif;
}
#wrap {
	background-image: url(bg.png);
	background-repeat: repeat-x;
}
#center {
	height: 126px;
	background-image: url(banner.gif);
	background-repeat: no-repeat;
	background-position:center;
	text-align:right;
	padding-top:5px;
}
#messages {
	color: #008800;
}
#toplist {
	float:right;
	margin:0 0 0 30px;
	padding:25px 10px 60px 26px;
	background-color: #f9f4ec;
	margin:0 4px;
	padding:0 4px;
}
#toplist ul {
	list-style:none;
}
#toplist h3 {
	padding:0;
	margin:0;
	color:#47435C;

	font-size: 18px;

}
#link {
	height: 47px;
	width: 815px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(tab_left.gif);
	background-repeat: no-repeat;
	padding: 0;
	margin-top: -2px;
	overflow: hidden;
}
.links li {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 47px;
	margin: 0;
	padding: 0px;
	overflow: hidden;
}
.links {
	margin: 0 0 0 30px;
	padding: 0;
	overflow: hidden;

}
.left {
	padding-top: 12px;
	margin-top: 5px;
}
.links a {
	display: block;
	float: left;
	height: 26px;
	margin: 0 0 0 15px;
	text-transform: uppercase;
	font-family: Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
	text-decoration:none;
	color: #545278;
	padding: 15px 0 0 20px;
}
.links a:hover {
	color: #291F3D;
}
#content {
	margin-right: auto;
	margin-left: auto;
	width: 890px;
}


.right {

}
.border {
	background-image: url(border.png);
	background-repeat: repeat-y;
	background-position: left;
}

.right img{
	margin: 0;
	padding-top: 0px;
	border: none;
}
.errorlist {
	color: #FF0000;
}
p,.current {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	text-transform: normal;
	letter-spacing: normal;
	line-height: 1.4em;
	color: #333333;
}
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	text-transform: normal;
	letter-spacing: -1px;
	line-height: 1.2em;
	color: #47435C;
}
h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	text-transform: normal;
	letter-spacing: -1px;
	line-height: 1.2em;
	color: #47435C;
}
a {
	color: #3C2A5E;
}
#content a:visited {
	color: #58410A;
}
#nameBlock {
	display: block;
	width: 920px;
	margin: 20px auto 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
#logoRegistry {
	display: block;
	height: 45px;
}

#logoUW {
	display: block;
	height: 30px;
}
/** http://www.alistapart.com/articles/prettyaccessibleforms **/
form.cmxform {
	width: 680px;
	font-size: 1.1em;
	color: #333;
	}
	
form.cmxform legend { padding-left: 0; }
	
form.cmxform legend,
form.cmxform label { 
	color: #333; 
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1.4em;
	text-align: right;
}
form.cmxform fieldset {
	border: none;
	}
	
form.cmxform fieldset fieldset { background: none; }
	
form.cmxform fieldset li {
	padding: 5px 10px 7px;
	}
form.cmxform fieldset li span {
	font-weight: normal;
	letter-spacing: normal;
	font-size: 10px;
	}
form.cmxform fieldset { margin-bottom: 10px; }
	
form.cmxform legend {
	padding: 0 2px;
	font-weight: bold;
	_margin: 0 -7px; /* IE Win */
	}
	
form.cmxform label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	}
	
form.cmxform fieldset ol {
	margin: 0;
	padding: 0;
	}
	
form.cmxform fieldset li {
	list-style: none;
	padding: 5px;
	margin: 0;
	}
	
form.cmxform fieldset fieldset {
	border: none;
	margin: 3px 0 0;
	}
	
form.cmxform fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
	}
	
form.cmxform fieldset fieldset label {
	display: block;
	width: auto;
	}

form.cmxform em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
	vertical-align:top;
	}

form.cmxform label { width: 120px; } /* Width of labels */
form.cmxform fieldset fieldset label { margin-left: 123px; } /* Width plus 3 (html space) */

/*\*//*/ form.cmxform legend { display: inline-block; } /* IE Mac legend fix */
