{%extends "base.html"%}

{% load service_list_widget %}

{%block title %}- Browse services{% endblock %}

{%block body %}
{% if services%}
<h1>Browse Services</h1>
<input id='search'></search>
   
<h1>Browse Services</h1> 
<div id="suggestions_link">
	<a class="resource" href={{ uservoice_url }}> Can't find a service you need? Suggest one. </a>
<div>

  {% service_list_widget services %}
 <div class="pagination">
    <span class="step-links">
        {% if services.has_previous %}
            <a href="?page={{ services.previous_page_number }}"> &lt &lt </a>
        {% endif %}

        <span class="current">
            Page {{ services.number }} of {{ services.paginator.num_pages }}.
        </span>

        {% if services.has_next %}
            <a href="?page={{ services.next_page_number }}"> &gt &gt</a>
        {% endif %}
    </span>
</div>
{% else %}
    <p>No services available.</p>
{% endif %}

{% endblock %}

{%block js %}
<script type="text/javascript" src="/statics/js/search.js"></script>
{% endblock %}
