{%extends "base.html"%}

{%block title %}- Browse services{% endblock %}

{%block body %}
{% if services%}
<h1>Browse Services</h1>
    <ul>
    {% for service in services.object_list %}
    <li><a href="{{service.get_absolute_url}}">{{ service.name }}</a></li>
    <p>
    {% filter truncatewords:25 %}
        {{service.description}}
    {% endfilter %}
    </p>
    {% endfor %}
    </ul>
    <div class="pagination">
    <span class="step-links">
        {% if services.has_previous %}
            <a href="?page={{ services.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ services.number }} of {{ services.paginator.num_pages }}.
        </span>

        {% if services.has_next %}
            <a href="?page={{ services.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% else %}
    <p>No services available.</p>
{% endif %}

{% endblock %}

