{%extends "base.html"%}

{% load whats_new %}
{% load twitter_widget %}

{%block title %}- Discover{% endblock %}

{%block body %}

<h1>Discover</h1>

<div id='upcoming-container'>
<h2 id='upcoming-header'>Upcoming Services</h2>
<ul id='upcoming-list'>
  {% for service in upcoming_services %}
  <li><a href="{{service.get_absolute_url}}" class="{{service.nickname}}">{{ service.name }}</a><br /> {{service.description}}</li>
  {% endfor %}
</ul>
</div>

<div id='tweet-container'>
<h2 id='tweet-header'>Tweets with #uwweb</h2>
{% twitter_widget %}
</div>

<div id='top-suggets-container'>
<h2 id='top-suggets-header'>Top User Suggestions</h2>
<table id='top-suggests-list'>
{% for suggestion in user_voice.suggestions %}
	<tr><td class="votes">Votes: {{ suggestion.vote_count }}</td><td><a href="{{ suggestion.url }}">{{ suggestion.title|safe }}</a></td></tr>
{%endfor%}
</table>
</div>


{% endblock %}
