{% extends "base.html" %}

{%block body %}

<!-- Latest 10 Submitted Applications -->
<div id="toplist">
<h3>Most Recent Activity</h3>
{% if services %}
    <ul>
    {% for service in services %}
    <li><a href="{{service.get_absolute_url}}">{{ service.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No services available.</p>
{% endif %}
</div>

<a href='/learn'>Learn</a>
<a href='/discover'>Discover</a>
<a href='/connect'>Connect</a>

<h2>The UW Web Service Registry provides a list of Web services that you can use and a place to advertise and communicate your Web service.</h2>

<p>The registry is open to all UW people - it is intended as a public resource that serves two main goals. First, to allow UW people who maintain Web services to make them official - registration will provide services with a reserved namespace and make them visible to campus technology coordinators. Second, the registry allows UW people to browse for, locate and learn about applications that may be useful to them.</p>

<h2>Looking for a service?</h2>
<p>If you are looking for a source of data or functionality on campus, please <a href="/service/browse/">browse the registry.</a> You'll find information on what applications are availabe, who runs them, and how to use them.</p>

<h2>Have a service to share?</h2>
<p>Please <a href="/service/add/">register it!</a> This is the easiest way to get exposure for your application, and the registry maintainers will help you with all the details.

<h2>Got an idea for a service?</h2>
<p>Please add your idea and/or vote on other Web service ideas at <a href="http://ontheroa.uservoice.com"> uservoice</a>! This is the place to get your voice heard on what Web services you need and watch us take action on your feedback.

<h2>Need help with the registry?</h2>
<p>Give us a holla using our support email.<a href="mailto:wsregistry-support@u.washington.edu"> wsregistry-support@u.washington.edu</a> </p>

{%endblock%}
