<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>

</head>

<div id="uservoice-feedback">
<link rel="stylesheet" href="/statics/css/main.css" />

  <link rel="stylesheet" href="/statics/css/new.css" />



<a id="uservoice-feedback-tab" onclick="UserVoice.Popin.show(); return false;" onmouseover="UserVoice.Popin.preload();" href="http://ontheroa.uservoice.com/forums/15200?lang=en&amp;referer=http://webservices.washington.edu/">Open Feedback Dialog</a></div>
        <div id="wrap"> 
            <div id="center">
                <a id="logoUW" href="http://www.washington.edu/"></a>
                <span id="nameBlock">
                
                </span>
                <a id="logoRegistry" href="/"></a>
            </div>
            <div id="link">  
                <ul class="links">
                    <li><a href="/service/browse" class="left,browse">Browse the services</a></li>
                    <li><a href="/service/add" class="left,border">Submit a new service</a></li>
                    <li><a href="/service/mine" class="left,border">Manage your services</a></li>
                    <li class="right"><img src="/statics/images/tab_right.gif"></li>
                </ul>
            </div>
            <div id="content">
                <div id="messages">
                    
                </div>
                
            </div>


			<div id="tiles">
				<div class="tile">
					<h2><img src="/statics/images/icon_learn.gif" alt="Learn"></h2>
					<p>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. </p>
					<a href="#">More +</a>
				</div>
				<div class="tile">
					<h2><img src="/statics/images/icon_discover.gif" alt="Learn"></h2>
					<p>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. </p>
					<a href="#">More +</a>
				</div>
				<div class="tile">
					<h2><img src="/statics/images/icon_connect.gif" alt="Learn"></h2>
					<p>Quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. </p>
					<a href="#">More +</a>
				</div>
			</div>
			<div id="bottomHalf">
				<div id="bottomLeft">
				<h2>What is the Web Registry?</h2>
				<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
				</div>
				<div id="bottomRight">
				<h2>What's new</h2>
				<ul>
				<li><a href="#">Nemo enim ipsam</a></li>
				<li>Nemo enim ipsam</li>
				<li>Nemo enim ipsam</li>
				</ul>
				</div>
			</div>
        </div>

        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script><script src="http://www.google-analytics.com/ga.js" type="text/javascript"></script>
            <script type="text/javascript">   
                try {
                    var pageTracker = _gat._getTracker("UA-8592171-1");
                    pageTracker._trackPageview();
                } catch(err) {}
            </script>
			<script type="text/javascript">
			  var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
			  document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
			</script><script src="http://cdn.uservoice.com/javascripts/widgets/tab.js" type="text/javascript"></script>
			<script type="text/javascript">
			UserVoice.Tab.show({ 
			  /* required */
			  key: 'ontheroa',
			  host: 'ontheroa.uservoice.com', 
			  forum: '15200', 
			  /* optional */
			  alignment: 'left',
			  background_color:'#f00', 
			  text_color: 'white',
			  hover_color: '#06C',
			  lang: 'en'
			})
			</script>
        
</html>
