{% extends "outer_layout.html" %}

{% load whats_new %}

{%block outer_body %}

<div id="tiles">
  <div class="tile">
    <h2><img src="/statics/images/icon_learn.gif" alt="Learn"></h2>
    <p>Learn more about Web Services so you know how to best use it to improve your business. </p>
    <a href="/learn">More +</a>
  </div>
  <div class="tile">
    <h2><img src="/statics/images/icon_discover.gif" alt="Learn"></h2>
    <p>Discover what's going on with Web Services here at the University of Washington with Tweets, UserVoice, and Web Services in development. </p>
      <a href="/discover">More +</a>
  </div>
  <div class="tile">
    <h2><img src="/statics/images/icon_connect.gif" alt="Learn"></h2>
    <p>Connect to our set of Web Services and find the right one you need.</p>
    <a href="/connect">More +</a>
  </div>
</div>
<div id="bottomHalf">
  <div id="bottomLeft">
    <h2>What is a Web Service?</h2>
    <p>Web Services at the University of Washington is a method of getting important institutional data from and/or into your applications. Web Services are a way for applications or systems to talk to one another and does not usually involve human interaction. Currently, the use of Web Services is mainly targetted for application developers who would write code against them. Click <a href="/learn">here</a> to learn more</p>
  </div>
  <div id="bottomRight">
    {% whats_new_widget %}
 </div>
</div>

{%endblock%}
