{%extends "base.html"%}

{%block title %}- Learn{% endblock %}

{%block body %}

<h2><img src="/statics/images/icon_learn.gif" alt="Learn"></h2>

<p>UW Web Services provides access to critical data through a flexible, secure, and efficient infrastructure. Web Services allows individuals, units, and departments throughout the university community to decrease operational business costs, drive internal process improvements, and support strategic initiatives including the 2Y2D initiative.</p>

<div style="float: left; width: 50%;">
<h2>Before Web Services</h2>
<img src="/statics/images/beforews.gif" alt="Before Web Services" title="Before Web Services">
</div>
<div style="float: left; width: 50%;">
<h2>After Web Services</h2>
<img src="/statics/images/afterws.gif" alt="After Web Services" title="After Web Services">
</div>

<div id="use-cases">
<h2 id="use-heading">Use Cases</h2>

<p><b>Electronic GradeBook </b> - Web ServicesM decreases costs and simplifies processes for the UW by providing critical data and functionality required for electronic grading. Web Services reduces the many manual steps required to process a grade, by linking an instructor to a student record via Catalyst Web Tools. By eliminating the use of Scantron bubble sheets and its associated complex processes, a more efficient grading work-flow is now possible.</p>

<p><b>m.UW iPhone<b> -  Web Services enables key marketing and technology strategies for the UW by providing critical data to support development of the UW iPhone application. Web Services provides a low-cost and simplified method of making data for the iPhone available, connecting real-time UW course data to mobile devices. These technologies position UW to meet the changing demands of future students.</p>

<p><b>Departmental IT Efficiency</b> - Web Services, in addition to other data delivery solutions, will   help further eliminate the need of many redundant data stores that store central data. The elimination of these data stores reduces departmental costs required to support the redundant data stores. In addition, security is improved by storing the data centrally in one location only. Both of which will position the UW for a more sustainable future.</p>
</div>

{% endblock %}
