{%extends "base.html"%}

{%block title%} - {{service.name}}{%endblock%}

{%block body%}
<h1 class="name">{{service.name}}</h1>
<p class="description">{{service.description}}</p>
<div><b>Documentation:</b>   <a class="documentation" href="{{service.doc_url}}">{{service.doc_url}}</a></div>
<div><b>Support contact:</b> <a class="support" href="mailto:{{service.support_contact}}">{{service.support_contact}}</a></div>
{% if not service.root_url_hidden %} 
<div><b>Root of service:</b> <a class="resource" href="{{service.root_url}}">{{service.root_url}}</a></div>
{% endif %}
{%endblock%}
