{%extends "base.html"%}

{%block title %}- {%if new %}Submit{%else%}Manage{%endif%} Service{% endblock %}

{%block body %}

<div id="toplist">
<h3>What should go into the Registry?</h3>
      <p>Something that is accessible over the web (in other words uses http)</p>
      <p>Contains UW data</p>
      <p>The content is machine parseable (json,xml,xhtml)</p>
<h3>What should NOT go into the Registry?</h3>
      <p>Oren's Blog (RSS/Atom feed)</p>
      <p>A link to an HTML page that is NOT XHTML strict</p>
</div>
<h1>{%if new %}Submit{%else%}Manage{%endif%} Service</h1>
<form action="." method="post" class="cmxform">
<fieldset>
<ol>
{% for field in form %}
    <li>
           {{ field.label_tag }} 
           {% if field.field.required %}
           <em>*</em>
           {% endif %} 
           {{ field }}<br />
           <span>{{ field.help_text }}</span>
           {{ field.errors }}
    </li>
{% endfor %}
</ol>
    <p><input type="submit" value="Submit service" /></p>

</form>
{% endblock %}
{%block js %}
<script type="text/javascript" src="/statics/js/submit.js"></script>
{% endblock %}
