{%extends "base.html"%}

{%block title %}- {%if new %}Submit{%else%}Manage{%endif%} Service{% endblock %}

{%block body %}
<h1>{%if new %}Submit{%else%}Manage{%endif%} Service</h1>
<form action="." method="post" class="cmxform">
<fieldset>
<legend>Service</legend>
<ol>
{% for field in form %}
    <li>
           {{ field.label_tag }} 
           {% if field.field.required %}
           <em>*</em>
           {% endif %} 
           {{ field }}<br />
           <span>{{ field.help_text }}</span>
           {{ field.errors }}
    </li>
{% endfor %}
</ol>
    <p><input type="submit" value="Submit service" /></p>
</legend>
</form>
{% endblock %}
